<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Yuying_Li_Tipcalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C68F5C671F83C42800490B37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C68F5C7B1F83C42900490B37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C68F5C861F83C42900490B37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
